@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cherry+Bomb+One&family=Finger+Paint&family=Rubik+Wet+Paint&family=Rubik:ital,wght@0,300..900;1,300..900&family=Single+Day&display=swap');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-muted-text: var(--muted-text);
  --color-border: var(--border);
  --font-bungee: Bungee Shade, Arial, Helvetica, sans-serif;
  --font-cherry: Cherry Bomb One, Arial, Helvetica, sans-serif;
  --font-rubik-wet: Rubik Wet Paint, Arial, Helvetica, sans-serif;
  --font-single: Single Day, Arial, Helvetica, sans-serif;
  --font-finger: Finger Paint, Arial, Helvetica, sans-serif;
  --font-rubik: Rubik, Arial, Helvetica, sans-serif;
}

:root {
  --background: var(--color-gray-100);
  --surface: var(--color-white);
  --primary: var(--color-blue-600);
  --secondary: var(--color-indigo-500);
  --text: var(--color-gray-900);
  --muted-text: var(--color-gray-600);
  --border: var(--color-gray-300);
}

.dark {
  --background: var(--color-gray-900);
  --surface: var(--color-gray-800);
  --primary: var(--color-blue-400);
  --secondary: var(--color-indigo-300);
  --text: var(--color-gray-100);
  --muted-text: var(--color-gray-400);
  --border: var(--color-gray-700);
}

html {
  @apply scroll-smooth scroll-pt-20;
}

body {
  @apply bg-background text-text font-rubik;
}

header {
  @apply z-40 fixed w-full px-4;
}

main {
  @apply max-w-7xl mx-auto px-4 text-sm md:text-base;
}